<div id="navi"><h4><a name="content">My Art!</a></h4></div>
	
	<div id="content_border">
	<div id="content">	
		
		<h4>Disclaimer:</h4>
				<p>So, first you need to know that my art is not really that great,<br>
				 I just love doing it! To be honest, I've been pretty uninspired lately.</p>
<br>

		<h4>About My Art History</h4>
				<p>Growing up, I've always loved drawing. I've always doodled in class, all over my assignments, and then for hours after school as well. However, I haven't always been good. I wasn't "born" with it, it took a really long time to turn my scribbles into something a little bit okay. </p>		
					
		
		<h3>Instagram</h3>
		<div class="art-desc">
      <p> My instgram is: shiori_kittyx. I like to post art but I don't atually post anymore, just mainly add to my stories. </p>
			<img src="files/art1.png" alt="image of art #1" />
		</div>

    <br> 
		<img src="files/art2.png" alt="image of art #2" /> 

		<h3>Here's some more random art :) </h3>
		<div class="img-desc">
			<img src="files/art3.png" alt="image of art #3 " /></h1>
		</div>
		
			<h4 class="nextLink"><a href="/catsPage">Onward >></a> </h4>
		
		
	</div>
	</div>