<div id="navi"><h4><a name="content">Get Page</a></h4></div>
	
	<div id="content_border">
	<div id="content">	
		
			<!-- GET form -->
  <form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="get">
  <fieldset>
      <section class="radio">Select between:
      <br><br>
        <label for="Cats">		
        <input id="Cats" type="radio" name="animals">
        Cats</label>
        <br>
        <label for="Dogs">
        <input id="Dogs" type="radio" name="animals">	
        Dogs</label>
        <br>	
        <label for="Other or Neither">
        <input id="Other" type="radio" name="animals">	
        Other or Neither</label>	
        <br>
      <input type="submit" name="submit">
      <br>
      </section>
  </fieldset>
  </form>

		
			<h4 class="nextLink"><a href="/cats">Onward >></a> </h4>
		
		
	</div>
	</div>
	
