<!doctype html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Brandi Cook">
	<!-- Date: 2011-03-02 -->	
	<title>Brandi Cook ][ Kitty Lover's Site</title>


<link rel="stylesheet" href="css/style.css" type="text/css" media="all" title="no title" charset="utf-8">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap:100,300 type="text/css" media="screen" />


</head>

<body>
	<div id="container">
	
	<!-- Heading -->
	
		<div id="heading">

			<h1><a href="/"><img src="files/header.png" alt="My Site Title" /></a></h1>
			
		<div id="navi">	
			<div id="center">
		<ul>
      <li><a href="/">Introduction</a></li>
      <li><a href="/Cats">Art</a></li>
      <li><a href="/Contact">Contact</a></li>
	  <li><a href="/cats">Cats</a></li>
	  <li><a href="/Cats">Poll</a></li>

		</ul>
			</div>
		</div>
		
 	 	</div>		
		

			
	<!-- CONTENT -->			
	{{{body}}}
	
	<!-- Footer -->
	
		<div id="footer" class="footer">
			<div class="socialLinks">
				<a href="https://mail.google.com">
					<img class="socialIcon" src="iconGmail.png">
				</a>
				<a href="https://github.com/BrandiCook/">
					<img class="socialIcon" src="iconGitHub.png">
				</a>
				<a href="https://imgur.com/r/cats">
					<img class="socialIcon" src="iconImgur.png">
				</a>
			</div>
		</div>

		<script src="template.js"></script>
		<script src="home.js"></script>
	</body>
  </div> 
  </div>
	
	
	</div>
</body>
</html>